body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: black;
    color: azure;
    padding: 30px;
    border-radius:  12px; 
    
    
}

.calculator-title {

    color: aqua;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 25px;
}

#display {
    text-align: right;
    padding: 25px;
    padding-right: 20px;
    background-color:#333;;
    color: white;
    font-size: 2rem;
    border-radius: 8px;
    margin-bottom: 10px;


}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    
    

} 
.zero {
  grid-column: span 2;
}

.btn-equals-large {
  grid-row: span 2;
}

button{
    font-size: 1.5rem;
    padding: 25px;
    border-radius: 8px;
}