body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: black;
    color: azure;
    padding: 30px;
    border-radius:  12px; 
    
    
}

.calculator-title {

    color: aqua;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 25px;
}

#display {
    background-color: #333;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* text on the right */
    gap: 5px;
}
#history {
    font-size: 1.1rem;
    color: #aaaaaa;
    min-height: 20px; /* keeps space even if empty */
}

#current {
    font-size: 2.2rem;
    min-height: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    
    

} 
.zero {
  grid-column: span 2;
}

.btn-equals-large {
  grid-row: span 2;
}

button{
    font-size: 1.5rem;
    padding: 25px;
    border-radius: 8px;
}